[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue/
[submodule "third_party/readerwriterqueue"]
	path = third_party/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
